In [40]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import normalize as nor
from sklearn.metrics import accuracy_score
from sklearn.metrics import roc_auc_score
from sklearn import datasets
boston = datasets.load_boston()
features = pd.DataFrame(boston.data, columns=boston.feature_names)
targets = boston.target

In [31]:
features.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [32]:
tar=pd.DataFrame(targets)
tar.rename({0:'Price'},axis =1,inplace=True)
tar.head()

   Price
0   24.0
1   21.6
2   34.7
3   33.4
4   36.2

In [ ]:
# print(features.isna().sum())
print(tar.isna().sum())

In [103]:
fea=pd.DataFrame(nor(features),columns=features.columns.values)
fea.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.000013,0.035997,0.004620,0.0,0.001076,0.013149,0.130388,0.008179,0.002000,0.591945,0.030597,0.793727,0.009959
1,0.000058,0.000000,0.014977,0.0,0.000994,0.013602,0.167140,0.010522,0.004237,0.512648,0.037707,0.840785,0.019362
2,0.000059,0.000000,0.015174,0.0,0.001007,0.015421,0.131140,0.010661,0.004293,0.519409,0.038204,0.843138,0.008650
3,0.000071,0.000000,0.004785,0.0,0.001005,0.015360,0.100527,0.013306,0.006585,0.487268,0.041045,0.866174,0.006453
4,0.000151,0.000000,0.004755,0.0,0.000999,0.015587,0.118209,0.013222,0.006543,0.484177,0.040784,0.865631,0.011625

In [104]:
x_train,x_test,y_train,y_test=train_test_split(fea,tar['Price'],test_size=0.3,random_state=42)

In [105]:
from sklearn.ensemble import RandomForestRegressor
rfc=RandomForestRegressor(n_estimators=500,max_features=10,max_depth=4,random_state=0)
rfc.fit(x_train,y_train)
y_test_pred=rfc.predict(x_test)
print('Train Score:',rfc.score(x_train,y_train))
print('Test Score:',rfc.score(x_test,y_test))

Train Score: 0.9063671132284373
Test Score: 0.8123568157681502

In [113]:
x_train,x_test,y_train,y_test=train_test_split(features,targets,test_size=0.3,random_state=10)

In [114]:
from sklearn.ensemble import RandomForestRegressor
rfc=RandomForestRegressor(n_estimators=500,max_features=10,max_depth=4,random_state=0)
rfc.fit(x_train,y_train)
y_test_pred=rfc.predict(x_test)
print('Train Score:',rfc.score(x_train,y_train))
print('Test Score:',rfc.score(x_test,y_test))

Train Score: 0.916476017846632
Test Score: 0.853010034046404

In [115]:
X_train, X_test, y_train, y_test = train_test_split(features, targets, test_size=0.2, random_state=42)
#scaler = StandardScaler().fit(X_train)
#X_train_scaled = pd.DataFrame(scaler.transform(X_train), index=X_train.index.values, columns=X_train.columns.values)
#X_test_scaled = pd.DataFrame(scaler.transform(X_test), index=X_test.index.values, columns=X_test.columns.values)

In [116]:
from sklearn.metrics import r2_score

rf = RandomForestRegressor(n_estimators=500, oob_score=True, random_state=0)
rf.fit(X_train, y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=500, n_jobs=1,
           oob_score=True, random_state=0, verbose=0, warm_start=False)

In [118]:
print('Train Score:',rf.score(X_train,y_train))
print('Test Score:',rf.score(X_test,y_test))
predicted_test = rf.predict(X_test)
predicted_train=rf.predict(X_train)
train_score=r2_score(y_train,predicted_train)
test_score = r2_score(y_test, predicted_test)
print(f'Test data R-2 score: {train_score:>5.3}')
print(f'Test data R-2 score: {test_score:>5.3}')

Train Score: 0.9785507217847736
Test Score: 0.8858682689615462
Test data R-2 score: 0.979
Test data R-2 score: 0.886